@import "../../../../styles/theme.css";

.tableContainer {
  overflow-x: auto;
  border: 2px solid var(--main-colour);
}

.tableHeading {
  width: 100%;
  padding: 0.5rem;
}

.tableHeading button:hover {
  cursor: pointer;
}