@import '../../styles/theme.css';

.navBar {
  background: var(--light-colour);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  border-bottom: 2px solid var(--main-colour);
}

@media (max-width: 450px) {
  .navBar {
    flex-direction: column;
    gap: 0.5rem;
  }
}

.navHeadline:hover {
  cursor: pointer;
}

/* below needs media queries and responsiveness */
.navTitle {
  display: inline;
  font-size: 2.5rem;
  color: var(--main-colour);
  margin-right: 0.5rem;
}

.navLogo {
  margin-top: 0.3rem;
  height: 2.2rem;
  width: auto;
}
