.flightsTable {
  border-collapse: collapse;
  margin: 1rem;
}

.flightsTable thead td {
  font-weight: bold;
  text-align: center;
}

.flightsTable td {
  box-sizing: border-box;
  border: 1px solid black;
  min-width: 100px;
  padding: 0.25rem;
}

.actionBtnContainer {
  text-align: center;
}