:root {
  --main-colour: navy;
  --light-colour: #F8F8F8;
  --backup-colour: #6670FF;
  --main-colour-light: #bacffe;
  --error-colour: rgb(177, 11, 11);
  --alternate-colour-1: #c5d5f9;
  --alternate-colour-2: #d7f9ef;
}
