@import "../../../../styles/theme.css";

.searchBar {
  height: 100%;
  padding: 0 0.25rem;
  display: flex;
  align-items: center;
}

.searchLabel {
  font-weight: bold;
}

.searchContainer {
  position: relative;
  display: inline-block;
}


.searchInput {
  width: 100%;
  box-sizing: border-box;
  overflow: scroll;
}

.searchResults {
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 100%;
  background: white;
  box-sizing: border-box;
  border: 1px solid black;
}

.searchResult {
  border: 1px solid black;
}