@import "../../../../styles/theme.css";

.searchBar {
  padding-bottom: 1.25rem;
  border-bottom: 1px solid var(--main-colour);
}

/* need media queries to control the width of search container */

.searchContainer {
  position: relative;
  display: inline-block;
}


.searchInput {
  width: 100%;
  box-sizing: border-box;
  overflow: scroll;
}

.searchResults {
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 100%;
  background: white;
  box-sizing: border-box;
  border: 1px solid black;
}

.searchResult {
  border: 1px solid black;
}