@import "../../../../styles/theme.css";

.dateSettingsContainer {
  margin: 1rem 0;
  padding: 1rem 0.5rem;
  border: 2px solid var(--backup-colour);
}

.dateSettingsForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
