@import "../../../../styles/theme.css";

.programmeSlot {
  width: 100%;
  height: 100%;
  background: var(--light-colour);
  border: 1px solid var(--main-colour);
}

.programmeSlot:hover {
  cursor: pointer;
}

.specialProgrammeSlot {
  background: linear-gradient(90deg, #4ca5ff, #a1cdf9, #4ca5ff);
}

.programmeInfo {
  padding: 0 0.25rem;
}